body{
    background-color: antiquewhite;
}


h1{
    color: black;
}

.content{
    display: flex;
    flex-direction: row;

}

img{
    width: 436px;
    height: 265px;
    margin-bottom: 65px;
    margin-right: 35px;
}

.container{
    border: 1cap solid black;
    margin-bottom: 50px;
    background-color: white;
}

p,h1{
    margin-left: 10px;
}



